name: Deploy Documentation on a sever

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: [self-hosted, pfs-etc]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Python and build docs with uv
        run: |
          uv python pin 3.12
          uv sync --extra doc
          uv run mkdocs build --site-dir ${{ vars.DOC_PATH }}
